<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ingles_Sem_Mestre.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ingles_Sem_Mestre.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Ingles_Sem_Mestre.Properties.Settings.INGLES_SEM_MESTREConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Ingles_sem_Mestre;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Ingles_Sem_Mestre.Properties.Settings>
            <setting name="Padrao_Backup" serializeAs="String">
                <value>C:\Users\\franf\OneDrive\BACKUPs\Ingles_Sem_Mestre_{0}.bak</value>
            </setting>
        </Ingles_Sem_Mestre.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Ingles_Sem_Mestre.Properties.Settings>
            <setting name="Velocidade_Padrão" serializeAs="String">
                <value>-3</value>
            </setting>
            <setting name="Velocidade_Padrão_Lerdo" serializeAs="String">
                <value>-7</value>
            </setting>
        </Ingles_Sem_Mestre.Properties.Settings>
    </userSettings>
</configuration>